.head {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_left {
    display: flex;
}

.header-left_logo {
    width: 120px;
    margin-right: 20px;
}

.header-left-nav {
    display: flex;

}

.header-left-nav>li>a {
    padding: 0 20px;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    position: relative;
    padding-top: 12px;
}

.button {
    background-color: rgba(245, 138, 7, 0.1);
    color: #F58A07;
    width: 173px;
    border-radius: 31px;
    text-align: center;
    padding-top: 12px;

}

.button-2 {
    background-color: #F58A07;
    color: #fff;
    width: 173px;
    border-radius: 31px;
    text-align: center;


}

.head-1 {
    display: flex;

    /* background: #DCEAF5; */
}

.head-1title {
    font-weight: 600;
    font-size: 41px;
    line-height: 72px;
    color: #1D3444;
}

.head-1desc {
    color: #5B5B5B;
    line-height: 30px;
    font-size: 18px;
}

.buttons1 {
    display: flex;
    justify-content: flex-start;
}

.button-2 {
    padding-top: 15px;
}

.seeallservices {
    margin-left: 40px;
}

.workedwith {
    color: rgba(57, 65, 73, 0.5);
    font-size: 18px;
    line-height: 30px;
    margin-top: 55px;
}

.head-1logos {
    display: flex;
    justify-content: flex-start;
    margin-top: 27px;
}

.head-1-2 {
    right: -90px;

}

.header-section {
    background-color: #DCEAF5;
}

.head-1logo-2 {
    margin-left: 45px;
}

.head-1logo-3 {
    margin-left: 45px;
}

.help-title {
    color: #1D3444;
    font-size: 41px;
    line-height: 72px;
}

.help-desc {
    color: #5B5B5B;
    line-height: 30px;
    font-size: 18px;
}

.button-3 {
    color: #F58A07;
}

.cards1 {
    display: flex;
    justify-content: space-between;
}

.card1>img {
    border-radius: 20px;
}

.card2 {
    margin-left: 40px;
}

.card3 {
    margin-left: 40px;
}

.feaures-back {
    background-color: #DCEAF5;
}

.feaures-title-1 {
    color: #0D1317;
    font-size: 28px;
    line-height: 44px;
}

.feaures-title-2 {
    color: #1D3444;
    font-size: 18px;
    line-height: 30px;
    padding-top: 30px;
}

.feaures-title {
    display: flex;
    justify-content: center;
}

.feaures-card {
    display: flex;
    justify-content: space-around;
}

.feaures-card1 {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 25px;

}

.feaures-card2 {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 25px;
    margin-left: 39px;
}

.feaures-card3 {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 25px;
    margin-left: 39px;
}