.head {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_left {
    display: flex;
}

.header-left_logo {
    width: 120px;
    margin-right: 20px;
}

.header-left-nav {
    display: flex;

}

.header-left-nav>li>a {
    padding: 0 20px;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    position: relative;
    padding-top: 12px;
}

.button {
    background-color: rgba(245, 138, 7, 0.1);
    color: #F58A07;
    width: 173px;
    border-radius: 31px;
    text-align: center;
    padding-top: 12px;

}

.button-2 {
    background-color: #F58A07;
    color: #fff;
    width: 173px;
    border-radius: 31px;
    text-align: center;


}

.head-1 {
    display: flex;

    /* background: #DCEAF5; */
}

.head-1title {
    font-weight: 600;
    font-size: 41px;
    line-height: 72px;
    color: #1D3444;
}

.head-1desc {
    color: #5B5B5B;
    line-height: 30px;
    font-size: 18px;
}

.buttons1 {
    display: flex;
    justify-content: flex-start;
}

.button-2 {
    padding-top: 15px;
}

.seeallservices {
    margin-left: 40px;
}

.workedwith {
    color: rgba(57, 65, 73, 0.5);
    font-size: 18px;
    line-height: 30px;
    margin-top: 55px;
}

.head-1logos {
    display: flex;
    justify-content: flex-start;
    margin-top: 27px;
}

.head-1-2 {
    right: -90px;

}

.header-section {
    background-color: #DCEAF5;
}

.head-1logo-2 {
    margin-left: 45px;
}

.head-1logo-3 {
    margin-left: 45px;
}

.help-section {
    height: 919px;
}

.help-title {
    color: #1D3444;
    font-size: 41px;
    line-height: 72px;
    padding-top: 53px;
}

.help-desc {
    color: #5B5B5B;
    line-height: 30px;
    font-size: 18px;
}

.button-3 {
    color: #F58A07;
}

.cards1 {
    display: flex;
    justify-content: space-between;
}

.card1>img {
    border-radius: 20px;
}

.card2 {
    margin-left: 40px;
}

.card3 {
    margin-left: 40px;
}

.feaures {
    height: 761px;
}

.feaures-back {
    background-color: #DCEAF5;
    height: 761px;
}

.feaures-title-1 {
    color: #0D1317;
    font-size: 28px;
    line-height: 44px;
    padding-top: 96px;
}

.feaures-title-2 {
    color: #1D3444;
    font-size: 18px;
    line-height: 30px;
    padding-top: 126px;
}

.feaures-title {
    display: flex;
    justify-content: center;
}

.feaures-card {
    display: flex;
    justify-content: space-around;
    padding-top: 64px;
}

.feaures-card1 {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 25px;

}

.feaures-card2 {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 25px;
    margin-left: 39px;
}

.feaures-card3 {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 25px;
    margin-left: 39px;
}

.about {
    height: 862px;
}

.aboutbig {
    display: flex;
    justify-content: center;
    padding-top: 89px;
}

.about-title {
    font-size: 33px;
    line-height: 42px;
    color: #0D1317;
}

.about-desc {
    color: #5B5B5B;
    line-height: 30px;
    size: 18px;
}

.carddecs1 {
    color: #5B5B5B;
}

.desccard {
    display: flex;
    justify-content: start;
}

.about-img-leftbar {
    width: 153px;
    height: 670px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    margin-top: -675px;
}


.service-body {
    background-color: #EDF7FF;
    height: 698px;
}


.service-buttons-small {
    display: flex;
    justify-content: flex-start;
    padding-top: 56px;
    padding-left: 48px;
}

.service-buttons {
    display: flex;
    justify-content: space-between;
}

.service-buttons1 {
    background-color: #ffffff;
    color: #F58A07;
    padding: 8px 24px;
    border-radius: 31px;
    border: 1px solid #a8bccc;
    height: 40px;
    text-align: center;
}

.service-buttons2 {
    background-color: #ffffff;
    color: #F58A07;
    padding: 8px 24px;
    border-radius: 31px;
    border: 1px solid #a8bccc;
    margin-left: 24px;
    height: 40px;
    text-align: center;
}

.service-buttons3 {
    background-color: #ffffff;
    color: #F58A07;
    padding: 8px 24px;
    border-radius: 31px;
    border: 1px solid #a8bccc;
    margin-left: 24px;
    height: 40px;
    text-align: center;
}

.service-title-img {
    display: flex;
    justify-content: center;
}

.seeallservicesbut1 {
    color: #F58A07;
}

.service-title {
    font-size: 30px;
    line-height: 56px;
    color: #0D1317;
    margin-left: 48px;
    margin-right: 140px;
    margin-top: -40px;
}

.service-desc {
    color: #5B5B5B;
    line-height: 30px;
    margin-left: 48px;
    margin-top: 25px;
    margin-right: 200px;
}

.seeallservicesbut1 {
    margin-top: 40px;
}

.service-img {
    margin-right: 41px;

}

.service-img-leftbar {
    width: 120px;
    height: 466px;
    position: absolute;
    background: #F58A07;
    border-radius: 20px 0px 0px 20px;
    mix-blend-mode: multiply;
    margin-top: -472px;
}

.service-ribbon {
    width: 200px;
    height: 200px;
    margin-right: -37px;
    margin-top: -16px;
}

.cta-section {
    display: flex;
    justify-content: center;
    margin-top: 128px;

}

.cta-right {
    background-color: #F58A07;
    color: #FFFFFF;
    width: 1363px;
    height: 518px;
}

.cta-right-title {
    font-size: 42px;
    line-height: 66px;
    margin-left: 128px;
    margin-top: 128px;

}

.cta-image>img {
    width: 1163px;
    height: 518px;
}

.cta-button {
    background-color: #FFFFFF;
    border-radius: 31px;
    padding: 19px 19px;
    color: #F58A07;
    width: 216px;
    height: 44px;
    text-align: center;
    padding-top: 8px;
    margin-left: 128px;
}
.video-big{
    display: flex;
    justify-content: center;
    margin-top: 128px;

}
.video-title{
    font-size: 34px;
    line-height: 56px;
}